## 保险反欺诈
* 使用AutomL

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
import pickle

with open('./data.pkl', 'rb') as file:
    data = pickle.load(file)

data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,3,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,1,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,1,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,2,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,1,YES,58960,5360,10720,42880,Ford,F150,2004,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [2]:
# 处理日期类型字段：policy_bind_date, incident_date
#data.select_dtypes(include="O")
# 日期类型格式转换
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])
data['incident_date'] = pd.to_datetime(data['incident_date'])

# 观察最大值，最小值
data['policy_bind_date'].min() # 1990-01-08
data['policy_bind_date'].max() # 2015-02-22

data['incident_date'].min() # 2015-01-01
data['incident_date'].max() # 2015-03-01

date_base = data['policy_bind_date'].min()
# 转换为date_diff
data['policy_bind_date_diff'] = (data['policy_bind_date'] - date_base).dt.days
data['incident_date_diff'] = (data['incident_date'] - date_base).dt.days
# 构造新特征：incident_policy_bind_diff
data['incident_policy_bind_diff'] = (data['incident_date'] - data['policy_bind_date']).dt.days
data[['policy_bind_date_diff', 'incident_date_diff', 'incident_policy_bind_diff']]

     policy_bind_date_diff  incident_date_diff  incident_policy_bind_diff
0                     8613                9139                        526
1                     2908                9150                       6242
2                     2202                9147                       6945
3                     6868                9160                       2292
4                     4353                9174                       4821
..                     ...                 ...                        ...
995                   3506                9153                       5647
996                   7265                9139                       1874
997                   3378                9131                       5753
998                   7567                9179                       1612
999                    262                9130                       8868

[1000 rows x 3 columns]

In [3]:
# 去掉数字 和 空格
def remove_digit(string):
    newstring = ''.join([x for x in string if (not x.isdigit() and x!=' ')])
    return newstring

data['incident_location'] = data['incident_location'].apply(remove_digit)
data['incident_location'].value_counts()

thAve                25
thLane               22
thHwy                18
thDrive              16
thSt                 14
                     ..
SoloSt                2
EmbaracaderoHwy       1
EmbaracaderoRidge     1
ApacheRidge           1
BestHwy               1
Name: incident_location, Length: 150, dtype: int64

In [4]:
# 去掉不用的字段
data.drop(['policy_bind_date','incident_date','policy_number'],axis=1,inplace=True)

In [5]:
#data.columns
#data['incident_severity']
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_policy_bind_diff
0,187,37,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,Masters,...,5770,5770,46160,Nissan,Maxima,2000,0.0,8613,9139,526
1,243,44,IL,250/500,500,809.11,0,600208,MALE,JD,...,5140,10280,35980,Honda,Civic,1996,0.0,2908,9150,6242
2,24,33,IL,500/1000,1000,1922.84,0,431277,FEMALE,High School,...,4680,9360,32760,Jeep,Wrangler,2002,0.0,2202,9147,6945
3,215,42,OH,500/1000,500,1848.81,0,435489,MALE,JD,...,11420,5710,51390,Suburu,Legacy,2003,1.0,6868,9160,2292
4,85,30,OH,100/300,1000,796.35,0,614166,FEMALE,MD,...,5360,10720,42880,Ford,F150,2004,0.0,4353,9174,4821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,College,...,940,470,3290,Dodge,Neon,2002,NaN,3506,9153,5647
996,297,47,IN,250/500,500,1616.65,7000000,456363,MALE,MD,...,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139,1874
997,251,39,IN,500/1000,2000,1231.98,0,612908,FEMALE,Associate,...,5530,5530,33180,Dodge,RAM,1997,NaN,3378,9131,5753
998,54,35,IN,100/300,500,1261.28,0,453265,FEMALE,MD,...,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,9179,1612
999,155,34,IN,100/300,500,1706.79,0,462479,MALE,Masters,...,8560,8560,59920,Honda,Civic,1998,NaN,262,9130,8868

In [6]:
# 训练集、测试集切分
train = data[data['fraud_reported'].notnull()]
test = data[data['fraud_reported'].isnull()]

In [ ]:
from autogluon.tabular import TabularPredictor
# 创建AutoML模型
model = TabularPredictor(label="fraud_reported", path="model")
# 可以指定训练时长
model.fit(train, time_limit=300)
# 查看Leaderboard
model.leaderboard()

Warning: path already exists! This predictor may overwrite an existing predictor! path="model"
Beginning AutoGluon training ... Time limit = 300s
AutoGluon will save models to "model\"
AutoGluon Version:  0.3.1
Train Data Rows:    700
Train Data Columns: 38
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0.0, 1.0]
	If 'binary' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3604.98 MB
	Train Data (Original)  Memory Usage: 0.93 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  :  1 | ['policy_annual_premium']
		('int', [])    : 19 | ['months_as_customer', 'age', 'policy_deductable', 'umbrella_limit', 'insured_zip', ...]
		('object', []) : 18 | ['policy_state', 'policy_csl', 'insured_sex', 'insured_education_level', 'insured_occupation', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 17 | ['policy_state', 'policy_csl', 'insured_education_level', 'insured_occupation', 'insured_hobbies', ...]
		('float', [])     :  1 | ['policy_annual_premium']
		('int', [])       : 19 | ['months_as_customer', 'age', 'policy_deductable', 'umbrella_limit', 'insured_zip', ...]
		('int', ['bool']) :  1 | ['insured_sex']
	0.2s = Fit runtime
	38 features in original data used to generate 38 features in processed data.
	Train Data (Processed) Memory Usage: 0.13 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.25s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric argument of fit()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 560, Val Rows: 140
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ... Training model for up to 299.75s of the 299.74s of remaining time.
	0.6571	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: KNeighborsDist ... Training model for up to 299.61s of the 299.61s of remaining time.
	0.6571	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: LightGBMXT ... Training model for up to 299.47s of the 299.47s of remaining time.
	0.8143	 = Validation score   (accuracy)
	0.22s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBM ... Training model for up to 299.23s of the 299.22s of remaining time.
	0.85	 = Validation score   (accuracy)
	0.2s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestGini ... Training model for up to 299.0s of the 299.0s of remaining time.
	0.75	 = Validation score   (accuracy)
	0.74s	 = Training   runtime
	0.13s	 = Validation runtime
Fitting model: RandomForestEntr ... Training model for up to 298.11s of the 298.11s of remaining time.
	0.75	 = Validation score   (accuracy)
	0.84s	 = Training   runtime
	0.13s	 = Validation runtime
Fitting model: CatBoost ... Training model for up to 297.11s of the 297.11s of remaining time.
	0.8643	 = Validation score   (accuracy)
	10.15s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesGini ... Training model for up to 286.93s of the 286.93s of remaining time.
	0.7571	 = Validation score   (accuracy)
	0.82s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: ExtraTreesEntr ... Training model for up to 285.96s of the 285.96s of remaining time.

In [ ]:
# AutoML预测
y_pred = model.predict(test)

In [ ]:
y_pred = model.predict_proba(test)[1]
y_pred

In [ ]:
result = pd.read_csv('./sampleSubmission.csv')
result['fraud_reported'] = y_pred.values
result.to_csv('./baseline_automl2.csv', index=False)
result

In [ ]:
result['fraud_reported'].value_counts()