In [ ]:
你现在是一个数据建模人员，要对保险反欺诈进行预测。
数据包括：
1）训练集：train.csv （40个字段，有fraud_reported字段）
2）测试集：test.csv （39个字段，没有fraud_reported字段）
如果你明白了需求，请回复明白
======
首先需要你对数据进行加载，分别得到 train和test。给我对应的Python代码
======
对train_data和test_data进行合并，生成data
======
对data进行数据探索，包括：缺失值，字段的唯一值个数
======
在data中去掉 _c39字段
======
在data中创建字段 policy_bind_date_diff，等于 (policy_bind_date - policy_bind_date中的最小值) 的天数
======
在data中创建新字段 incident_date_diff，等于 (incident_date - policy_bind_date中的最小值) 的天数
======
在data中去掉字段 policy_bind_date 和 incident_date
======
在data中找到字符串类型的字段
======
针对字符串类型字段，需要转换为数值类型字段，都有哪些方法
======
请使用标签编码，对data中的字符串字段进行数值类型的转换，给我python代码
======
去掉data中的字符串类型字段
======
之前我们使用train_data和test_data合并得到了data，现在需要将data切分回train_data和test_data
======
用LightGBM对train_data进行模型训练，目标字段为fraud_reported。先去掉test_data中的fraud_reported字段，然后再对test_data进行模型预测
======
读取sampleSubmission.csv, 对fraud_reported赋值为 y_pred，并保存为 result.csv

In [1]:
import pandas as pd

# 加载训练集和测试集数据
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

# 检查训练集数据
print("训练集数据:")
print(train_data.head())

# 检查测试集数据
print("测试集数据:")
print(test_data.head())

# 提取特征和目标变量
X_train = train_data.drop('fraud_reported', axis=1)  # 特征变量
y_train = train_data['fraud_reported']  # 目标变量

# 检查提取后的特征和目标变量
print("训练集特征变量:")
print(X_train.head())
print("训练集目标变量:")
print(y_train.head())

# 保存测试集的特征变量，不包括目标变量
X_test = test_data  # 测试集特征变量

# 检查保存的测试集特征变量
print("测试集特征变量:")
print(X_test.head())

训练集数据:
   months_as_customer  age  policy_number policy_bind_date policy_state  \
0                 187   37         125591       2013-08-08           IN
1                 243   44         967713       1997-12-25           IL
2                  24   33         649082       1996-01-19           IL
3                 215   42         519312       2008-10-28           OH
4                  85   30         190588       2001-12-09           OH

  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0   500/1000               1000                1412.06         5000000
1    250/500                500                 809.11               0
2   500/1000               1000                1922.84               0
3   500/1000                500                1848.81               0
4    100/300               1000                 796.35               0

   insured_zip  ... police_report_available total_claim_amount injury_claim  \
0       450947  ...                       ?              57700         5770
1       600208  ...                     YES              51400         5140
2       431277  ...                      NO              46800         4680
3       435489  ...                     YES              68520        11420
4       614166  ...                     YES              58960         5360

  property_claim vehicle_claim  auto_make  auto_model auto_year  \
0           5770         46160     Nissan      Maxima      2000
1          10280         35980      Honda       Civic      1996
2           9360         32760       Jeep    Wrangler      2002
3           5710         51390     Suburu      Legacy      2003
4          10720         42880       Ford        F150      2004

  fraud_reported _c39
0              0  NaN
1              0  NaN
2              0  NaN
3              1  NaN
4              0  NaN

[5 rows x 40 columns]
测试集数据:
   months_as_customer  age  policy_number policy_bind_date policy_state  \
0                 479   60         698589       2002-11-28           IL
1                 167   36         287489       1994-02-03           IL
2                 148   36         211578       1996-01-04           IL
3                  69   24         807369       1992-06-19           IN
4                 236   39         830878       1996-11-03           IN

  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0   500/1000               1000                1188.45               0
1    100/300               1000                 949.44               0
2   500/1000               1000                1236.32         5000000
3   500/1000                500                1418.50               0
4    250/500               1000                1151.39         4000000

   insured_zip  ... witnesses police_report_available total_claim_amount  \
0       459295  ...         3                       ?              53900
1       448603  ...         0                      NO              69680
2       616929  ...         0                      NO              61050
3       614948  ...         0                      NO              63300
4       604555  ...         0                       ?               8700

  injury_claim property_claim  vehicle_claim  auto_make auto_model auto_year  \
0         5390          10780          37730       Saab         95      2006
1         8710           8710          52260   Mercedes      ML350      2008
2         5550          11100          44400      Dodge       Neon      2009
3        12660           6330          44310      Dodge        RAM      2012
4          870           1740           6090     Accura        RSX      2003

  _c39
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

[5 rows x 39 columns]
训练集特征变量:
   months_as_customer  age  policy_number policy_bind_date policy_state  \
0                 187   37         125591       2013-08-08           IN
1                 243   44         967713       1997-12-25           IL
2                  24   33         649082       1996-01-19           IL
3                 215   42         519312       2008-10-28           OH
4                  85   30         190588       2001-12-09           OH

  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0   500/1000               1000                1412.06         5000000
1    250/500                500                 809.11               0
2   500/1000               1000                1922.84               0
3   500/1000                500                1848.81               0
4    100/300               1000                 796.35               0

   insured_zip  ... witnesses police_report_available total_claim_amount  \
0       450947  ...         3                       ?              57700
1       600208  ...         1                     YES              51400
2       431277  ...         1                      NO              46800
3       435489  ...         2                     YES              68520
4       614166  ...         1                     YES              58960

  injury_claim property_claim  vehicle_claim  auto_make auto_model auto_year  \
0         5770           5770          46160     Nissan     Maxima      2000
1         5140          10280          35980      Honda      Civic      1996
2         4680           9360          32760       Jeep   Wrangler      2002
3        11420           5710          51390     Suburu     Legacy      2003
4         5360          10720          42880       Ford       F150      2004

  _c39
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

[5 rows x 39 columns]
训练集目标变量:
0    0
1    0
2    0
3    1
4    0
Name: fraud_reported, dtype: int64
测试集特征变量:
   months_as_customer  age  policy_number policy_bind_date policy_state  \
0                 479   60         698589       2002-11-28           IL
1                 167   36         287489       1994-02-03           IL
2                 148   36         211578       1996-01-04           IL
3                  69   24         807369       1992-06-19           IN
4                 236   39         830878       1996-11-03           IN

  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0   500/1000               1000                1188.45               0
1    100/300               1000                 949.44               0
2   500/1000               1000                1236.32         5000000
3   500/1000                500                1418.50               0
4    250/500               1000                1151.39         4000000

   insured_zip  ... witnesses police_report_available total_claim_amount  \
0       459295  ...         3                       ?              53900
1       448603  ...         0                      NO              69680
2       616929  ...         0                      NO              61050
3       614948  ...         0                      NO              63300
4       604555  ...         0                       ?               8700

  injury_claim property_claim  vehicle_claim  auto_make auto_model auto_year  \
0         5390          10780          37730       Saab         95      2006
1         8710           8710          52260   Mercedes      ML350      2008
2         5550          11100          44400      Dodge       Neon      2009
3        12660           6330          44310      Dodge        RAM      2012
4          870           1740           6090     Accura        RSX      2003

  _c39
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

[5 rows x 39 columns]

In [2]:
train_data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,199,37,982871,1997-07-27,IN,250/500,500,1262.08,0,474615,...,NO,60170,10940,10940,38290,Nissan,Pathfinder,2011,1,NaN
696,232,43,751905,2001-05-16,OH,250/500,500,1483.91,8000000,431531,...,?,70600,7060,14120,49420,Volkswagen,Passat,2013,1,NaN
697,215,37,761189,2002-12-28,IN,100/300,500,1632.93,0,614417,...,YES,57120,9520,4760,42840,Mercedes,C300,2002,0,NaN
698,270,44,701521,2003-07-05,IL,500/1000,2000,1030.95,0,435985,...,NO,35900,7180,3590,25130,Audi,A3,2007,1,NaN
699,269,45,596298,1996-08-23,IN,500/1000,500,1330.46,0,435552,...,NO,24200,2200,4400,17600,Suburu,Forrestor,2008,0,NaN

In [3]:
test_data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,_c39
0,479,60,698589,2002-11-28,IL,500/1000,1000,1188.45,0,459295,...,3,?,53900,5390,10780,37730,Saab,95,2006,NaN
1,167,36,287489,1994-02-03,IL,100/300,1000,949.44,0,448603,...,0,NO,69680,8710,8710,52260,Mercedes,ML350,2008,NaN
2,148,36,211578,1996-01-04,IL,500/1000,1000,1236.32,5000000,616929,...,0,NO,61050,5550,11100,44400,Dodge,Neon,2009,NaN
3,69,24,807369,1992-06-19,IN,500/1000,500,1418.50,0,614948,...,0,NO,63300,12660,6330,44310,Dodge,RAM,2012,NaN
4,236,39,830878,1996-11-03,IN,250/500,1000,1151.39,4000000,604555,...,0,?,8700,870,1740,6090,Accura,RSX,2003,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
296,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
297,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
298,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
299,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [4]:
# 合并训练集和测试集
data = pd.concat([train_data, test_data], ignore_index=True)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,YES,4700,940,470,3290,Dodge,Neon,2002,NaN,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN,NaN

In [5]:
# 检查数据的缺失值
missing_values = data.isnull().sum()
print("缺失值统计:")
print(missing_values)

# 查找字段的唯一值个数
unique_values = data.nunique()
print("字段的唯一值个数:")
print(unique_values)

缺失值统计:
months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                  300
_c39                           1000
dtype: int64
字段的唯一值个数:
months_as_customer              391
age                              46
policy_number                  1000
policy_bind_date                951
policy_state                      3
policy_csl                        3
policy_deductable                 3
policy_annual_premium           991
umbrella_limit                   11
insured_zip                     995
insured_sex                       2
insured_education_level           7
insured_occupation               14
insured_hobbies                  20
insured_relationship              6
capital-gains                   338
capital-loss                    354
incident_date                    60
incident_type                     4
collision_type                    4
incident_severity                 4
authorities_contacted             5
incident_state                    7
incident_city                     7
incident_location              1000
incident_hour_of_the_day         24
number_of_vehicles_involved       4
property_damage                   3
bodily_injuries                   3
witnesses                         4
police_report_available           3
total_claim_amount              763
injury_claim                    638
property_claim                  626
vehicle_claim                   726
auto_make                        14
auto_model                       39
auto_year                        21
fraud_reported                    2
_c39                              0
dtype: int64

In [6]:
# 去除 _c39 字段
data = data.drop('_c39', axis=1)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,3,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,1,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,1,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,2,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,1,YES,58960,5360,10720,42880,Ford,F150,2004,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [7]:
# 将 policy_bind_date 列转换为日期类型
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])

# 计算 policy_bind_date_diff
min_bind_date = data['policy_bind_date'].min()
data['policy_bind_date_diff'] = (data['policy_bind_date'] - min_bind_date).dt.days

In [8]:
# 将 incident_date 和 policy_bind_date 列转换为日期类型
data['incident_date'] = pd.to_datetime(data['incident_date'])
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])

# 计算 incident_date_diff
min_bind_date = data['policy_bind_date'].min()
data['incident_date_diff'] = (data['incident_date'] - min_bind_date).dt.days

In [9]:
# 去除 policy_bind_date 和 incident_date 字段
data = data.drop(['policy_bind_date', 'incident_date'], axis=1)
data

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff
0,187,37,125591,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,...,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,8613,9139
1,243,44,967713,IL,250/500,500,809.11,0,600208,MALE,...,51400,5140,10280,35980,Honda,Civic,1996,0.0,2908,9150
2,24,33,649082,IL,500/1000,1000,1922.84,0,431277,FEMALE,...,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,2202,9147
3,215,42,519312,OH,500/1000,500,1848.81,0,435489,MALE,...,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,6868,9160
4,85,30,190588,OH,100/300,1000,796.35,0,614166,FEMALE,...,58960,5360,10720,42880,Ford,F150,2004,0.0,4353,9174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,...,4700,940,470,3290,Dodge,Neon,2002,NaN,3506,9153
996,297,47,272330,IN,250/500,500,1616.65,7000000,456363,MALE,...,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139
997,251,39,315631,IN,500/1000,2000,1231.98,0,612908,FEMALE,...,44240,5530,5530,33180,Dodge,RAM,1997,NaN,3378,9131
998,54,35,445195,IN,100/300,500,1261.28,0,453265,FEMALE,...,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,7567,9179
999,155,34,914815,IN,100/300,500,1706.79,0,462479,MALE,...,77040,8560,8560,59920,Honda,Civic,1998,NaN,262,9130

In [11]:
# 选择字符串类型的字段
string_columns = data.select_dtypes(include='object').columns
data[string_columns]

,policy_state,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,property_damage,police_report_available,auto_make,auto_model
0,IN,500/1000,FEMALE,Masters,protective-serv,reading,not-in-family,Single Vehicle Collision,Side Collision,Total Loss,Ambulance,NC,Riverwood,7082 Oak Ridge,?,?,Nissan,Maxima
1,IL,250/500,MALE,JD,craft-repair,polo,other-relative,Multi-vehicle Collision,Side Collision,Minor Damage,Other,NC,Springfield,9352 Washington Ave,?,YES,Honda,Civic
2,IL,500/1000,FEMALE,High School,machine-op-inspct,skydiving,wife,Single Vehicle Collision,Side Collision,Total Loss,Police,WV,Northbend,5061 Francis Ave,?,NO,Jeep,Wrangler
3,OH,500/1000,MALE,JD,transport-moving,video-games,own-child,Multi-vehicle Collision,Front Collision,Major Damage,Fire,WV,Northbend,2457 Washington Ave,YES,YES,Suburu,Legacy
4,OH,100/300,FEMALE,MD,craft-repair,video-games,own-child,Multi-vehicle Collision,Rear Collision,Total Loss,Fire,SC,Northbend,2290 4th Ave,YES,YES,Ford,F150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,IL,500/1000,FEMALE,College,prof-specialty,kayaking,not-in-family,Parked Car,?,Trivial Damage,None,WV,Arlington,5540 Sky St,NO,YES,Dodge,Neon
996,IN,250/500,MALE,MD,adm-clerical,movies,unmarried,Multi-vehicle Collision,Side Collision,Total Loss,Fire,WV,Columbus,1087 Flute Drive,?,YES,Jeep,Grand Cherokee
997,IN,500/1000,FEMALE,Associate,other-service,hiking,not-in-family,Single Vehicle Collision,Rear Collision,Minor Damage,Police,NY,Hillsdale,1381 Francis Ave,YES,?,Dodge,RAM
998,IN,100/300,FEMALE,MD,protective-serv,hiking,unmarried,Multi-vehicle Collision,Side Collision,Minor Damage,Fire,VA,Springfield,5028 Maple Ridge,YES,?,Nissan,Maxima
999,IN,100/300,MALE,Masters,protective-serv,dancing,other-relative,Single Vehicle Collision,Front Collision,Minor Damage,Ambulance,OH,Hillsdale,9706 MLK Lane,NO,YES,Honda,Civic

In [13]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# 标签编码转换
label_encoder = LabelEncoder()
for column in string_columns:
    data[column + '_encoded'] = label_encoder.fit_transform(data[column])
data

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,collision_type_encoded,incident_severity_encoded,authorities_contacted_encoded,incident_state_encoded,incident_city_encoded,incident_location_encoded,property_damage_encoded,police_report_available_encoded,auto_make_encoded,auto_model_encoded
0,187,37,125591,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,...,3,2,0,0,5,680,0,0,9,26
1,243,44,967713,IL,250/500,500,809.11,0,600208,MALE,...,3,1,3,0,6,935,0,2,6,10
2,24,33,649082,IL,500/1000,1000,1922.84,0,431277,FEMALE,...,3,2,4,6,3,456,0,1,7,36
3,215,42,519312,OH,500/1000,500,1848.81,0,435489,MALE,...,1,0,1,6,3,157,2,2,11,21
4,85,30,190588,OH,100/300,1000,796.35,0,614166,FEMALE,...,2,2,1,4,3,141,2,2,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,...,0,3,2,6,0,503,1,2,4,27
996,297,47,272330,IN,250/500,500,1616.65,7000000,456363,MALE,...,3,2,1,6,1,3,0,2,7,17
997,251,39,315631,IN,500/1000,2000,1231.98,0,612908,FEMALE,...,2,1,4,1,2,40,2,0,4,30
998,54,35,445195,IN,100/300,500,1261.28,0,453265,FEMALE,...,3,1,1,5,6,452,2,0,9,26
999,155,34,914815,IN,100/300,500,1706.79,0,462479,MALE,...,1,1,0,2,2,966,1,2,6,10

In [14]:
# 去除字符串类型的字段
data = data.drop(string_columns, axis=1)
data

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,...,collision_type_encoded,incident_severity_encoded,authorities_contacted_encoded,incident_state_encoded,incident_city_encoded,incident_location_encoded,property_damage_encoded,police_report_available_encoded,auto_make_encoded,auto_model_encoded
0,187,37,125591,1000,1412.06,5000000,450947,60100,0,21,...,3,2,0,0,5,680,0,0,9,26
1,243,44,967713,500,809.11,0,600208,33200,0,4,...,3,1,3,0,6,935,0,2,6,10
2,24,33,649082,1000,1922.84,0,431277,0,-45200,0,...,3,2,4,6,3,456,0,1,7,36
3,215,42,519312,500,1848.81,0,435489,0,-49000,20,...,1,0,1,6,3,157,2,2,11,21
4,85,30,190588,1000,796.35,0,614166,72400,-77000,9,...,2,2,1,4,3,141,2,2,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,2000,1318.24,9000000,601748,0,-78600,9,...,0,3,2,6,0,503,1,2,4,27
996,297,47,272330,500,1616.65,7000000,456363,0,-59500,0,...,3,2,1,6,1,3,0,2,7,17
997,251,39,315631,2000,1231.98,0,612908,0,-31700,10,...,2,1,4,1,2,40,2,0,4,30
998,54,35,445195,500,1261.28,0,453265,68500,-42100,21,...,3,1,1,5,6,452,2,0,9,26
999,155,34,914815,500,1706.79,0,462479,0,0,1,...,1,1,0,2,2,966,1,2,6,10

In [15]:
# 切分回 train_data 和 test_data
train_data = data.iloc[:len(train_data), :]
test_data = data.iloc[len(train_data):, :]
train_data

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,...,collision_type_encoded,incident_severity_encoded,authorities_contacted_encoded,incident_state_encoded,incident_city_encoded,incident_location_encoded,property_damage_encoded,police_report_available_encoded,auto_make_encoded,auto_model_encoded
0,187,37,125591,1000,1412.06,5000000,450947,60100,0,21,...,3,2,0,0,5,680,0,0,9,26
1,243,44,967713,500,809.11,0,600208,33200,0,4,...,3,1,3,0,6,935,0,2,6,10
2,24,33,649082,1000,1922.84,0,431277,0,-45200,0,...,3,2,4,6,3,456,0,1,7,36
3,215,42,519312,500,1848.81,0,435489,0,-49000,20,...,1,0,1,6,3,157,2,2,11,21
4,85,30,190588,1000,796.35,0,614166,72400,-77000,9,...,2,2,1,4,3,141,2,2,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,199,37,982871,500,1262.08,0,474615,48500,0,4,...,1,0,0,0,1,264,0,1,9,29
696,232,43,751905,500,1483.91,8000000,431531,0,-33600,17,...,2,0,0,1,0,147,1,0,13,28
697,215,37,761189,500,1632.93,0,614417,0,-42900,7,...,2,1,1,4,5,784,1,2,8,7
698,270,44,701521,2000,1030.95,0,435985,47200,0,20,...,2,0,0,0,3,200,0,1,1,4
699,269,45,596298,500,1330.46,0,435552,54800,-64100,5,...,3,2,4,5,2,134,0,1,11,15

In [16]:
test_data

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,...,collision_type_encoded,incident_severity_encoded,authorities_contacted_encoded,incident_state_encoded,incident_city_encoded,incident_location_encoded,property_damage_encoded,police_report_available_encoded,auto_make_encoded,auto_model_encoded
700,479,60,698589,1000,1188.45,0,459295,0,-44800,9,...,2,2,3,4,0,249,0,0,10,3
701,167,36,287489,1000,949.44,0,448603,0,-38400,22,...,2,0,0,0,6,185,0,1,8,24
702,148,36,211578,1000,1236.32,5000000,616929,55100,0,0,...,3,2,4,3,4,271,1,1,4,27
703,69,24,807369,500,1418.50,0,614948,0,0,23,...,2,1,4,1,6,604,0,1,4,30
704,236,39,830878,1000,1151.39,4000000,604555,0,-63900,17,...,0,1,4,1,6,196,2,0,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,2000,1318.24,9000000,601748,0,-78600,9,...,0,3,2,6,0,503,1,2,4,27
996,297,47,272330,500,1616.65,7000000,456363,0,-59500,0,...,3,2,1,6,1,3,0,2,7,17
997,251,39,315631,2000,1231.98,0,612908,0,-31700,10,...,2,1,4,1,2,40,2,0,4,30
998,54,35,445195,500,1261.28,0,453265,68500,-42100,21,...,3,1,1,5,6,452,2,0,9,26
999,155,34,914815,500,1706.79,0,462479,0,0,1,...,1,1,0,2,2,966,1,2,6,10

In [22]:
import lightgbm as lgb

# 提取特征和目标变量
X_train = train_data.drop('fraud_reported', axis=1)  # 训练集特征变量
y_train = train_data['fraud_reported']  # 训练集目标变量

# 去除测试集中的目标变量字段
X_test = test_data.drop('fraud_reported', axis=1)  # 测试集特征变量

# 创建 LightGBM 数据集
train_dataset = lgb.Dataset(X_train, label=y_train)

# 定义 LightGBM 参数
params = {
    'objective': 'binary',
    'metric': 'binary_logloss'
}

# 训练 LightGBM 模型
model = lgb.train(params, train_dataset)

# 对测试集进行预测
y_pred = model.predict(X_test)

# 打印预测结果
print("预测结果:")
print(y_pred)

[LightGBM] [Info] Number of positive: 181, number of negative: 519
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000896 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2886
[LightGBM] [Info] Number of data points in the train set: 700, number of used features: 38
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.258571 -> initscore=-1.053407
[LightGBM] [Info] Start training from score -1.053407
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
预测结果:
[3.31717396e-02 8.31373143e-01 2.16140834e-03 4.28375984e-02
 5.54765511e-03 1.27205177e-02 1.32557654e-02 1.19798011e-02
 9.92806095e-04 1.60854187e-02 5.72502221e-03 1.03597260e-03
 6.14290126e-01 3.51471677e-03 1.10724510e-03 8.74403983e-01
 1.29531769e-02 4.19191489e-02 8.92944347e-01 2.25395231e-02
 1.59039036e-01 1.88837883e-02 6.89433935e-01 1.53621504e-02
 1.15587263e-03 9.55519372e-01 5.96742952e-03 8.69321481e-03
 3.14655355e-01 8.41401113e-03 4.90720046e-01 3.46363675e-03
 6.45307408e-01 2.93070760e-02 8.42193565e-03 7.66470369e-03
 9.42473446e-01 4.81369736e-04 6.29084779e-04 6.85090773e-02
 9.51856718e-01 4.75763198e-03 1.35362013e-03 1.10541942e-02
 8.35937882e-02 1.36666549e-02 2.85027874e-03 7.87022085e-03
 7.27248092e-01 2.26534209e-03 6.74105453e-04 5.15936009e-03
 6.80424546e-04 2.82396744e-01 8.16421352e-01 6.33875078e-03
 2.25638614e-02 1.12022397e-01 3.99565089e-02 7.84454901e-01
 2.53372193e-03 7.23948459e-03 3.61511274e-03 7.32088034e-01
 2.33898528e-02 5.74616106e-03 7.15371000e-01 5.61036704e-01
 1.66026710e-02 8.71201497e-04 6.16852848e-04 1.56783266e-03
 2.90203727e-01 7.36786679e-01 1.77706390e-03 1.37699237e-03
 3.89236594e-02 2.02628647e-03 5.46089296e-01 4.74583278e-03
 9.49223069e-03 1.81672151e-03 9.24857233e-01 5.81989507e-03
 1.15773632e-02 7.39370619e-04 8.13125296e-03 2.43573112e-03
 2.90306122e-02 5.08779740e-01 1.16482381e-03 4.85281482e-01
 8.14994098e-01 3.23352584e-03 2.31700491e-03 3.72374155e-03
 7.23063090e-02 3.68735385e-03 1.11260580e-01 2.82471772e-03
 4.17964555e-03 9.05295884e-01 8.29735146e-04 1.87434230e-02
 1.05954571e-03 5.14438307e-01 1.08399438e-01 7.15026516e-01
 7.12734204e-03 1.00281724e-02 7.06330755e-03 1.40635896e-03
 2.74767158e-03 1.40300590e-03 1.78381383e-03 2.10227119e-01
 9.46654074e-01 5.76505200e-03 7.14579176e-01 2.34814465e-02
 1.17222112e-02 3.91193424e-02 9.42411280e-01 5.77471128e-01
 2.09385630e-02 7.62667709e-01 4.49674157e-02 1.48251052e-03
 6.93197818e-01 5.41819736e-03 2.79975580e-03 5.31005863e-01
 1.16374165e-02 7.67202358e-03 5.34360945e-03 3.74632897e-03
 9.40592959e-02 3.79295382e-01 8.84426741e-01 3.54089816e-02
 6.36718558e-02 5.92176338e-02 2.10842281e-01 3.98089730e-02
 7.66313172e-01 9.01156857e-01 2.31643691e-02 1.31554349e-02
 2.16373870e-02 2.35935713e-02 4.57406001e-03 4.36910053e-01
 9.71538555e-01 2.07812835e-01 4.91842482e-03 1.34686537e-03
 5.34850938e-01 1.86163554e-03 1.57742866e-02 6.25993890e-03
 1.70290997e-01 3.06397701e-03 9.56960267e-01 4.97976292e-01
 1.37334919e-01 3.42144520e-01 3.82512877e-03 8.08295002e-03
 7.78620210e-01 2.61836272e-03 3.15542492e-03 2.63196811e-02
 6.20790538e-01 9.07526152e-01 9.74587330e-04 9.73269537e-01
 9.04856232e-04 1.48091782e-03 1.81269162e-02 6.86414159e-03
 4.96167979e-03 5.08245578e-03 1.18029930e-03 7.64772036e-03
 1.52352890e-02 6.52973908e-01 1.02227664e-03 9.73851104e-01
 7.64373239e-03 4.48547719e-02 1.13991110e-02 3.74717917e-03
 4.82096365e-03 8.86240265e-01 8.63912167e-01 8.46736178e-04
 5.59015321e-03 3.25363691e-03 1.62334400e-03 5.86172682e-01
 3.03532227e-02 9.43416743e-03 9.31106522e-01 8.54634258e-02
 7.85165420e-03 1.86204410e-03 9.55344635e-03 1.94091264e-01
 3.78312254e-03 1.15029218e-03 1.56632578e-03 2.25116843e-02
 3.88168551e-03 7.47423609e-03 3.57262169e-02 1.46196746e-01
 2.81407161e-01 2.15499237e-03 4.06263082e-03 4.64478298e-01
 1.73251213e-02 1.01257498e-01 3.59592904e-03 7.40483032e-03
 2.13212775e-02 2.17724792e-01 3.70764558e-03 1.05033075e-02
 9.25823489e-01 4.40854331e-03 2.88531428e-02 1.55652616e-02
 1.36853243e-03 8.97173749e-03 7.91279642e-01 9.12722386e-01
 1.07709510e-03 1.24523011e-03 1.90472305e-03 2.32313026e-03
 2.08252457e-01 1.03656983e-02 1.39405784e-03 7.06676537e-03
 1.65482256e-02 4.19029896e-01 8.88051092e-03 6.66496266e-03
 1.40844892e-03 3.60612108e-02 7.02528382e-02 9.26896997e-01
 7.19986707e-01 8.40277849e-03 6.19782758e-04 5.00317253e-03
 2.10839114e-01 1.41354885e-02 9.29690415e-01 2.11410589e-02
 7.75353356e-01 1.79670385e-02 7.85312074e-01 2.26798272e-03
 2.08419458e-02 1.35795192e-01 1.35308118e-02 6.18127951e-03
 8.97643608e-04 5.39464270e-03 8.80499196e-01 3.06776512e-02
 1.43201141e-02 3.57749438e-01 5.66629663e-01 1.84204930e-02
 7.73885361e-02 4.95650302e-03 9.48806992e-01 4.34796957e-04
 4.75226078e-02 6.81844157e-02 2.40919367e-02 3.07865499e-01
 2.01406843e-01 1.04072629e-03 4.09547834e-01 1.40509230e-01
 2.36911541e-01 9.59013926e-01 2.07155047e-02 8.90794927e-01
 2.23431375e-01 1.40586076e-02 6.72551500e-01 3.22805518e-03
 4.44017840e-03 1.29312067e-03 1.84772713e-03 3.82584529e-03]

In [23]:
# 读取 sampleSubmission.csv 文件
submission_data = pd.read_csv('sampleSubmission.csv')

# 将预测结果赋值给 fraud_reported 字段
submission_data['fraud_reported'] = y_pred

# 保存结果为 result.csv 文件
submission_data.to_csv('result.csv', index=False)